.slick-fullscreen {
	background: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 30px 0px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}

.slick-fullscreen .slick-track {
	display: table;
}

.slick-fullscreen .slick-prev, .slick-fullscreen .slick-next {
	z-index: 1;
}

.slick-fullscreen .slick-next {
	right: 0;
}

.slick-fullscreen .slick-prev {
	left: 0;
}

.slick-fullscreen .slick-slide {
	display: table-cell;
	position: relative;
	vertical-align: middle; 
	cursor: auto;
	white-space: normal;
	outline: none;
	float: none;
}

.slick-fullscreen .slick-slide img {
	margin-left: auto;
	cursor: pointer;
}

.slick-fullscreen .slick-active img {
	margin-right: auto;
}

.slick-fullscreen .slick-active ~ .slick-slide img {
	margin-left: 0;
}

.slick-fullscreen .slick-dots {
	background: rgba(0, 0, 0, 0.8);
	bottom: -30px;
}

.slick-fullscreen .slick-dots li {
	width: 23px;
	height: 23px;
}

.slick-dots li button:before {
	color: #ccc;
}

.slick-fullscreen .slick-dots li.slick-active button:before {
	color: #fff;
}
